[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
apache-libcloud = "*"
paramiko = "*"
django = "*"
djangorestframework = "*"
requests = "*"
gunicorn = "*"
pylint-django = "*"
flask = "*"
pycrypto = "*"
fire = "*"
kubernetes = "*"

[requires]
python_version = "3.6"
