[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
apache-libcloud = "*"
django = "*"
djangorestframework = "*"
requests = "*"
gunicorn = "*"
pylint-django = "*"
flask = "*"
kubernetes = "*"
cryptography = "*"
click = "*"
pymada = {editable = true,path = "./pymada"}
pyyaml = "*"
python-dateutil = "*"
tabulate = "*"

[requires]
python_version = "3.6"
