apache-libcloud==2.5.0
asn1crypto==0.24.0
astroid==2.2.5
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
Django==2.2.4
djangorestframework==3.10.2
fire==0.2.1
Flask==1.1.1
google-auth==1.6.3
gunicorn==19.9.0
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
kubernetes==10.0.1
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==3.1.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
pycrypto==2.6.1
pylint==2.3.1
pylint-django==2.0.11
pylint-plugin-utils==0.5
-e git+git@github.com:nhoss2/pymada.git@dd5a326399f88278ee654864e46a94075af667e9#egg=pymada&subdirectory=pymada
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
sqlparse==0.3.0
termcolor==1.1.0
typed-ast==1.4.0
urllib3==1.25.3
websocket-client==0.56.0
Werkzeug==0.15.5
wrapt==1.11.2
